html, body{
    height: 100%;
}

#containers{
    min-height: 100%;
    position: relative;
}

.nav-item > a {
    color: whitesmoke;
}

#search-btn {
    margin-top: 10px;
    background-color: #92B558;
    border: 1px solid #92B558;

}
#top-search-btn {
    margin-top: 10px;
    background-color: #92B558;
    border: 1px solid #92B558; 
}
.card-header {
    background-color:  #92B558;
    color: whitesmoke;

}
.card {
    border: 1px solid  #92B558;
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer{
    bottom: -30px;
    position: absolute;
    width: 100%;
    background-color: #92B558; 
    text-align: center;
}
.recipe-container{
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
.recipePhoto {
    width: 300px;
    height: auto;
    padding-right: 20px;
}